.title-app{
  text-align: center;
  margin-top: 0;
  color: #fff;
}
.container{
  padding-top: 60px;
  background: linear-gradient(to right, rgba(202, 43, 93, 0.5), rgba(116, 58, 136, 0.5)), url(../assets/noche2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}