.list{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 8px 15%;
  background-color: rgba(65, 65, 65, 0.5);
  padding: 0 5%;
  border-radius: 10px;
}
.list__btn{
  border: none;
  /* border-radius: 20px; */
  box-sizing: border-box;
  padding: 0;
  height: 25px;
}